<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h2>Edit the chat</h2>
    <p>This Message was sent by <%=chat.from%> to <%=chat.to%> on <%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="newmsg"><%=chat.msg%></textarea>
        <button>Save</button>
    </form>
</body>
</html>